<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sync Text Area</title>
    <style>
        textarea {
            width: 100%;
            height: 300px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Text Sync Service</h1>
    <textarea id="syncTextarea" placeholder="Type here..."></textarea>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        const socket = io({
            transports: ['websocket', 'polling']
        });
        //const socket = io('https://text-share.project-kk.com', {
            //transports: ['websocket','polling']  // WebSocketからpollingに切り替え
        //});

        // テキストエリアの変更を検知し、サーバーに送信
        var textarea = document.getElementById('syncTextarea');
        textarea.addEventListener('input', function() {
            socket.emit('text_change', { text: textarea.value });
        });

        // 他のユーザーからのテキスト内容を受信
        socket.on('update_text', function(data) {
            textarea.value = data.text;
        });
    </script>
</body>
</html>
